/* Global Reset and Box Sizing */
* {
  box-sizing: border-box;
}

/* Basic Styling */
body {
  font-family: Arial, sans-serif;
  color: #222;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout and Container Styles */
main {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 50px;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 24px;
}

/* Post Styles */
div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: 1fr 1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 2rem;
}

div.post p.info {
  margin: 10px 0;
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
}

div.post p.info a.author {
  color: #555;
}

div.post p.summary {
  margin: 10px 0;
}

/* Form Styles */
form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

form.login h1,
form.register h1 {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background-color: #333;
}

/* Post Page Styles */
div.post-page {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
  font-size: 2rem;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.9rem;
  color: #aaa;
  margin: 10px 0;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Responsive Image Container */
div.post-page div.image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post-page div.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 600px) {
  div.post-page div.image {
    max-height: 400px; /* Adjust height for larger screens */
  }
}

@media (min-width: 900px) {
  div.post-page div.image {
    max-height: 500px; /* Adjust height for even larger screens */
  }
}

div.post-page div.content {
  margin: 30px 0;
  line-height: 1.6;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

div.post-page a.edit-btn svg {
  height: 20px;
}
