/* Home.css */
.home-container {
    text-align: center;
    margin: 20px;
  }
  
  .home-header {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .home-header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
    font-size: 1.2em;
  }
  
  .home-intro {
    margin-top: 40px;
  }
  
  .home-intro h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .home-intro p {
    font-size: 1.2em;
    color: #555;
  }
  